{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChitChat</title>
</head>
<body>
    <!-- `.` 代表传递 父模板的所有数据到子模板 -->
    {{ template "navbar" . }}
    <div class="container">
        {{ template "content" . }}
    </div>

    <!-- 此处的 js 引入尚未加真的文件 -->
    <script src="/static/js/jquery"></script>
    <script src="/static/js/bootstrap"></script>

</body>
</html>

{{ end }}